<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Frostburn" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70744077-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body class="<%= page_classes %>">
    <div class="top">
      <div class="top-header">
        <img src="/images/frostburnlogo-header.png" class='img-responsive header-img'> <div class="header-right">Share The Warmth!</div>
      </div>
      <div class="top-nav">
        <%= link_to 'Home', '/', :class => "nav-link" %>
        <%= link_to 'Event Detail', '/EventDetail.html', :class => "nav-link" %>
        <%= link_to 'Must Read', '/read-this.html', :class => "nav-link" %>
        <%= link_to 'Tickets', '/tickets.html', :class => "nav-link" %>
        <%= link_to 'Registration', '/registration.html', :class => "nav-link" %>
        <%= link_to 'Volunteer', '/volunteer.html', :class => "nav-link" %>
        <%= link_to 'Financials', '/financial-reports', :class => "nav-link" %>
        <%= link_to 'Contact', '/contact-us.html', :class => "nav-link" %>
      </div>
      Frostburn <%= data.event.year %>: <%= data.event.dates %><br>
      <%= data.event.ticket_text %> <%= data.event.early_access %> <br>
    </div>
    <div class="body-box">
      <%= yield %>
    </div>
  </body>
</html>
