<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Frostburn" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <img src="images/frostburnlogo.png"></br>
    Frostburn 2016: Thurs. Feb 11 - Mon. Feb 15<br>
    Pre-Build and Early Access details coming soon.<br>
    <img src="images/header.png"></br>
    <!-- Navigation Links -->
    <%= link_to 'Home', '/' %>
    <%= link_to 'Must Read', '/read-this.html' %>
    <%= link_to 'Tickes', '/tickets.html' %>
    <%= link_to 'Volunteer', '/volunteer.html' %>
    <%= link_to 'Financials', '/financial-reports' %>
    <%= link_to 'Contact', '/contact-us.html' %>
    <%= yield %>
  </body>
</html>
