---
title: Contact Us
date: '2012-10-30'
tags: []
---

<h2>Contact Us</h2>
Help: <<%= data.contact.support %>>

Qeuestions on placement:  <<%= data.contact.placement %>> <br>
Questions on art grants:   <<%= data.contact.art %>> <br>
Questions on volunteering:  <<%= data.contact.volunteer %>> <br>
Questions on Fire conclave:  <<%= data.contact.support %>> <br>


Like email?
Frostburn Announce List (Low Traffic):
<%= link_to 'Subscribe', 'http://frostburn.us12.list-manage.com/subscribe?u=b2b2cd75178791bef87ccdfe8&id=398b3065f6' %>
<%= link_to 'Unsubscribe', 'http://frostburn.us12.list-manage1.com/unsubscribe?u=b2b2cd75178791bef87ccdfe8&id=398b3065f6&e=[UNIQID]&c=1d1daa9bfc' %>
<br>
Frostburn Discuss List:
<a href="mailto:frostburn_discuss+subscribe@googlegroups.com?subject=Send this message to subscribe">Subscribe</a>
<a href="mailto:frostburn_discuss+unsubscribe@googlegroups.com?subject=Send this message to un-subscribe">Unsubscribe</a>
<br>

Social Media: <br>
<% data.contact.social.each do |u| %>
  <%= link_to u.text, u.link %> <br>
<% end %>


Other Information:
<% data.contact.other.each do |u| %>
  <%= link_to u.text, u.link %>
<% end %>
