---
title: Contact Us
date: '2012-10-30'
tags: []
---

<h2>Contact Us</h2>
The Primary Way to Contact Frostburn is via our Support email:
<%= mail_to("support@frostburn.org")%>

You may also reach the Frostburn Board of Directors via email:
<%= mail_to("bod@frostburn.org")%>

<% data.contact.email.each do |u| %>
  <%= "Questions about #{u.desc}: "%> <%= mail_to(u.email) %> <br>
<% end %>

Like email?
Frostburn Announce List (Low Traffic):
<%= link_to 'Subscribe', 'http://frostburn.us12.list-manage.com/subscribe?u=b2b2cd75178791bef87ccdfe8&id=398b3065f6' %>
<%= link_to 'Unsubscribe', 'http://frostburn.us12.list-manage1.com/unsubscribe?u=b2b2cd75178791bef87ccdfe8&id=398b3065f6&e=[UNIQID]&c=1d1daa9bfc' %>
<br>

Social Media: <br>
<% data.contact.social.each do |u| %>
  <%= link_to u.text, u.link %> <br>
<% end %>


Other Information:
<% data.contact.other.each do |u| %>
  <%= link_to u.text, u.link %>
<% end %>
